<html>
  <head>
    <title>Home</title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  </head>

  <body>
    <h1>Header</h1>
    <table border="1" width="500">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Sobre Nome</th>
                <th>Endereco</th>
            </tr>
        </thead>
        <tbody id="tabela">
        </tbody>
    </table>
  </body>
  <script src="/js/main.js"></script>
</html>