<html>
  <head>
    <title>Teste Técnico</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  </head>
  <body>
    <h1 class="title">Teste Técnico</h1>
    <ul class="nav">
       <li><a onclick="homePage();">Home</a></li>
       <li><a onclick="aboutPage();">About</a></li>
    </ul>
    <div id="content">
    
  </div>
  </body>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
  <script src="/js/main.js"></script>
</html>